.box{
    display: flex;
    flex-direction: column;
    background-color: #352c7a;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    width: 400px;
}


form label{
    padding: 3px;
    font-size: large;
}

form input{
    padding: 5px;
    width: 90%;
    margin-bottom: 10px;
}

.error-message {
    margin-top: -20px;
    margin-bottom: 10px;
    color: red;
    font-size: 12px;
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it appears above other elements */
  }
  
  .popup-container {
    background-color: #ffffff; /* White background */
    padding: 20px; /* Inner spacing */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    max-width: 400px; /* Restrict width */
    width: 90%; /* Adapt width on smaller screens */
    text-align: center; /* Center-align text */
  }
  
  .popup-container h3 {
    font-size: 1.25rem; /* Slightly larger font for heading */
    font-weight: bold;
    color: #333333; /* Dark gray color */
    margin-bottom: 10px;
  }
  
  .popup-container p {
    font-size: 0.875rem; /* Smaller font for paragraph */
    color: #666666; /* Medium gray color */
  }
  
